/* General Styling */
body {
    background: #FFFFFF;
    font-family: 'IBM Plex Mono', sans-serif;
    color: #37383C;
}

.header-container {
    display: flex;
    flex-direction: column;
}

/* Sidebar Styling */
aside {
    width: 100%;
    background: #525252;
    color: #ede06d;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    z-index: 1000;
}

aside .logo {
    font-family: 'Black Ops One', sans-serif; /* Современный шрифт */
    font-size: 40px;
    color: #ede06d; /* Цвет для логотипа */
    margin-left: 600px;
}

aside ul {
    margin-top: 10px;
    list-style: none;
    display: flex;
}

aside ul li a {
    text-decoration: none;
    color: #F9E7FF;
    margin: 0px 250px;
}

aside .button-container {
    padding: 8px;
}


/* Main Content Styling */
main {
    margin-left: 200px;
    flex-grow: 1;
    padding: 15px;
}

main .features {
    width: 75%;
    text-align: center;
    color: #37383C;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
}

main .features h1 {
    font-size: 40px;
    padding: 15px;
}

main .features h2 {
    font-size: 30px;
    padding: 15px;
}

main .features h3 {
    font-size: 18px;
    padding: 10px;
}

main .features h4 {
    font-size: 14px;
    padding: 10px;
}


/* Custom Button Styling */
.custom-button-dark {
    background-color: #525252;
    color: #ede06d;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    margin: 30px;
    align: center;

}

.custom-button-dark:hover {
    background-color: #ede06d;
    color: #525252;
}

.custom-button-light {
    background-color: #ede06d;
    color: #525252;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
}

.custom-button-light:hover {
    background-color: #fff;
}


/* Добавленные стили для формы в общем стиле */
form {
    width: 40%;
    margin-left: 260px;
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    display: inline-block;
}

form h2 {
    color: #37383C;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.universal-form {
    width: 30%;
    margin: 10px;
    padding: 10px;
    text-align: center;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: inline-block;
    vertical-align: top;
    position: relative;
    border-radius: 25px;
}

.universal-form img {
    width: 100%;
    height: auto;
    margin: 0 auto 10px; /* Уменьшен отступ снизу */
}

.universal-form h2 {
    font-size: 30px;
    margin-bottom: 10px; /* Добавлен отступ снизу */
}

.universal-form p {
    margin-bottom: 15px; /* Добавлен отступ между текстом и кнопкой */
}

.universal-button {
    background-color: #ede06d;
    color: #525252;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
}

.universal-button:hover {
    background-color: #fff;
    color: #525252;
}

.gym-form {
    width: 60%;
    margin: 10px;
    padding: 20px;
    text-align: center;
    background: #fff;
    box-shadow: 0 0 10px rgba(237, 224, 109, 1);
    border-radius: 15px;
    display: inline-block;
}

.gym-form img {
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 90%;
    margin: 0 auto 10px;
}

.rate-form {
    width: 40%;
    margin: 10px;
    padding: 20px;
    text-align: center;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rate-form h2 {
    font-weight: bold;
    font-size: 20px;
    color: #37383C;
}

.features .button-row {
    display: flex;
    justify-content: space-between; /* Adjust as needed */
    margin-bottom: 15px; /* Optional: Add margin between buttons and other content */
}

.features .button-row a {
    padding: 10px 15px; /* Adjust padding as needed */
}
